.MainContainer-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 92vh;
    min-height: 900px;
    padding-top: 8vh;
    background-image: url('https://cdn.wallpaperhi.com/1920x1080/20111215/19.jpg');
    overflow-y: auto;
}