.MainContainer-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 92vh;
    padding-top: 8vh;
    background-image: url('https://cdn.wallpaperhi.com/1920x1080/20111215/19.jpg');
    /* background: linear-gradient(225deg, rgba(180, 180, 180, 0.72) 0%, rgb(54, 54, 54) 100%) */
}