.Home-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 88vh;
    
}

.Home-profile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 60vw;
    height: 88vh;
}

.Home-profile-img {
    width: 10vw;
    min-width: 160px;
    border-radius: 50%;
    box-shadow: 0 20px 40px black;
}

.Home-profile-text {
    width: 50vw;
    height: 45vh;
    font-size: x-large;
    background-color: rgb(128, 128, 128, 0.5);
    text-shadow: 0 2px 2px rgb(61, 61, 61);
    border-radius: 20px;
    box-shadow: 0 20px 20px black;
    overflow-y: auto;
}

.Home-profile-text > p {
    margin: 30px;
}