.Projects-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 88vh;
}

.Projects-window-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 28vh;
    text-shadow: 0 2px 2px rgb(197, 197, 197);
}

.Projects-window-header > p {
    font-size: xx-large;
}
.Projects-window-button {
    position: absolute;
    right: 20px;
    margin-top: 20px;
}

.Projects-window-list {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100vw;
    height: 60vh;
    overflow-y: auto;
}