.ProjectDetails-layout {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80vw;
    height: 60vh;
    margin-top: -15px;
}

.project-popup-left {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    width: 40%;
    height: 90%;
    background-color: lightskyblue;
    box-shadow: 0 10px 10px black;
    border-radius: 20px;
}

.project-popup-img {
    margin-top: 12px;
    width: 95%;
    max-width: 400px;
    background-color: grey;
    box-shadow: 0 20px 20px black;
}

.project-popup-links {
    display: flex;
    flex-direction: column;
    height: 50%;
}

.project-popup-link {
    text-decoration: none;
    color: black;
    margin: 20px;
    font-size: x-large;
    text-shadow: 0 2px 2px rgb(59, 59, 59);
}

.project-popup-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 55%;
    height: 90%;
    background-color: lightskyblue;
    box-shadow: 0 10px 10px black;
    border-radius: 20px;
}

.project-popup-info {
    display: flex;
    height: 80%;
}

.project-popup-skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 40%;
    height: 30vh;
    background-color: grey;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 4px ridge black;
    margin: 20px;
    box-shadow: 0 20px 20px black;
}

.project-popup-skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    box-shadow: 0 4px 4px black;
    border-radius: 5px;
    text-shadow: 0 1px 1px black;
}

.project-popup-skill-img {
    width: 60%;
}
.project-popup-text {
    width: 60%;
    text-shadow: 0 1px 1px black;
    font-size: x-large;
    margin: 20px;
}
.project-popup-each-skill {
    display: flex;
    justify-content: left;
    width: 30vw;
    height: 30px;
}