.SkillCards-layout {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 8vw;
    max-width: 110px;
    height: 14vh;
    background-color: black;
    border: 6px ridge lightskyblue;
    box-shadow: 1px 1px grey, 4px 4px black;
    margin: 5px auto;
}

.SkillCards-img {
    width: 90%;
    background-color: white;
}

.SkillCards-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 30%;
    background-color: grey;
}